footer {
    display: flex;
    justify-content: center;
    margin: 1.5em 0;

    a {
        width: 100px;
        text-align: center;
        color: white;
        border-color: var(--primary-clr);
        background-color: var(--primary-clr);
    }
}