#root {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  --primary-clr: #145495;
  --secondary-clr: #74B9FF;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 70vh;
  text-align: center;
}

h1 {
  font-size: 2em;
  color: var(--primary-clr);
}

h1 span {
  color: var(--secondary-clr);
}

h2 {
  width: fit-content;
  margin: 2em 0;
  font-weight: 600;
  color: var(--primary-clr);
  text-transform: uppercase;
  border-bottom: #145495 solid;
}

a {
  color: var(--secondary-clr);
  border-color: var(--secondary-clr);
  text-decoration: none;
  font-weight: 600;
  list-style-type: none;
  margin-left: .5em;
  padding: .75em;
  border: 1px solid;
  border-radius: 5px;
}

a:hover {
  color: var(--primary-clr);
}

.active,
.active:hover {
  color: white;
  border-color: var(--primary-clr);
  background-color: var(--primary-clr);
}

img {
  width: 100%;
}