.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 5px;
  margin: 0;
  box-shadow: 0 4px 5px -2px gray;
  max-height: 200px;

  a,
  span {
    font-weight: bold;
    color: var(--primary-clr);
  }

  a.router-link-exact-active {
    color: var(--secondary-clr);
  }

  .main-nav-links {
    display: flex;
    padding-top: 10px;
    .main-nav-item {
        text-decoration: none;
        margin-right: .5rem;
    
        &:hover {
          text-decoration: underline;
          color: var(--secondary-clr);
        }
      }
  }

  .main-nav-logo {
    display: flex;
    justify-content: flex-start;
  }

  .main-nav-logo-image {
    max-width: 100%;
    width: 120px;
  }
}