.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin: 0;
  padding: .5em 1.5em;
  box-shadow: 0 4px 5px -2px gray;

  .main-nav-logo {
    border: none
  }

  ul.main-nav-links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: .75em;
    list-style-type: none;
  }

  @media (max-width: 500px) {

      ul.main-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .5em;
        margin: .5em 0 0 0;

        li a {
          display: flex;
          justify-content: center;
          width: 150px;
          padding: .3em;
        }
      }
  }
}